.card {
    border: 2px solid black;
    width: 200px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card.available {
    background-color: white;
  }
  
  .card:not(.available) {
    filter: grayscale(100%); 
  }
  
  .card:not(.available) .skill-box {
    background-color: gray; 
  }